$eggwhite: #fff5c4;
$ink: #2c3e50;
$green: rgb(73, 230, 73);
$red: rgb(231, 23, 23);
$character-width: 300px;
$character-height: 300px;
$answer-width: 200px;
$answer-height: 100px;
$answer-font-size: 70px;
